<p id="notice"><%= notice %></p>

<p>
  <h2><%= @beer_club.name %> <%= @beer_club.city %></h2>
</p>

<p>
  Founded <%= @beer_club.founded %>
</p>

<p>
	<strong>Members</strong>
  
  	<table class="table table-hover">
  		<thead>
  			<td>Name</td>
  			<td></td>
  		</thead>
 		<% @beer_club.memberships.each do |membership| %>
	   		<tr>
	   			<td><%= link_to membership.user.username, user_path(membership.user.id) %> </td>
	   			<td><% if membership.confirmed and current_user.admin %>
	   				<%= link_to "Dismiss", toggle_activity_membership_path(membership), method: :post, class: "btn btn-danger" %>
	   			<% else %>
	   				<%= link_to "Accept", toggle_activity_membership_path(membership), method: :post, class: "btn btn-primary" %>
	   				<%= link_to "Deny", membership_path(membership), method: :delete, class: "btn btn-danger" %> 
	   				
	   			<% end %></td>
	   		</tr>
 		<% end %>
 	</table>

</p>

<p>
	<% if current_user %>
		<% unless current_user.beer_clubs.include?(@beer_club) %>
		<%= form_for(@membership) do |f| %>
	    	<%= f.hidden_field :beer_club_id %>
	    	<%= f.submit value:"Join the club!", class:"btn btn-primary" %>
	 	<% end %>
 		<% end %>
	<% elsif not current_user %>
	<% else %>
		<%= form_for(@membership, method: "delete") do |f| %>
      		<%= f.hidden_field :beer_club_id %>
     		<%= f.submit value: "End the membership",  class:"btn btn-danger" %>
   		<% end %>	
 	<% end %>
</p>

<%= edit_and_destroy_buttons(@beer_club) %>

