<p id="notice"><%= notice %></p>

<p>
  <h2><%= @beer_club.name %> <%= @beer_club.city %></h2>
</p>

<p>
  Founded <%= @beer_club.founded %>
</p>

<p>
	<strong>Members</strong>
  
  	<div class="list-group">
 		<% @beer_club.members.each do |member| %>
   		<button type="button" class="list-group-item"><%= link_to member.username, user_path(member.id) %></button>
 		<% end %>
 	</div>

</p>

<p>
	<% if current_user %>
		<% unless current_user.beer_clubs.include?(@beer_club) %>
		<%= form_for(@membership) do |f| %>
	    	<%= f.hidden_field :beer_club_id %>
	    	<%= f.submit value:"Join the club!", class:"btn btn-primary" %>
	 	<% end %>
 		<% end %>
	<% elsif not current_user %>
	<% else %>
		<%= form_for(@membership, method: "delete") do |f| %>
      		<%= f.hidden_field :beer_club_id %>
     		<%= f.submit value: "End the membership",  class:"btn btn-danger" %>
   		<% end %>	
 	<% end %>
</p>

<%= edit_and_destroy_buttons(@beer_club) %>

