<p id="notice"><%= notice %></p>

<p>
  	<h2><%= @user.username %></h2> 
  	<% if current_user %>
  	<% if current_user.admin %>
        <% unless @user.active %>
            <button class="btn btn-primary; pointer-events: none">account frozen</button>
    	<% end %>
    <% end %>
    <% end %>
</p>

<p>
	<% if @user.ratings.empty? %>
 		Has not yet made any ratings
	<% else %>
 		Has <%= pluralize(@user.ratings.count, "rating") %>, average <%= round(@user.average_rating) %> <br><br>
 		Favorite beer: <%= @user.favorite_beer.name %> <br>
 		Favorite style: <%= @user.favorite_style.name %> <br>
 		Favorite brewery: <%= @user.favorite_brewery.name %>
	<% end %>

</p>

<p>

	<% if @user.memberships.empty? %>
 		No beer club memberships
	<% else %>
		Member of 
		<% @user.memberships.each do |membership| %>
			<%= link_to membership.beer_club.name, beer_club_path(membership.beer_club) %>
		<% end %>
	<% end %>
</p>

<p>
	<strong>Ratings</strong>

	<div class="list-group">
 		<% @user.ratings.each do |rating| %>
   			<button type="button" class="list-group-item"><%= rating.beer.name %> <%= rating.score %> 
   				<% if @user == current_user %>
   					<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'}%>
   				<% end %>
   			</button>
 		<% end %>
 	</div>
</p>

<% if current_user %>
	<% if current_user.admin %>
		<% if @user.active %>
		<%= link_to "Freeze account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-primary" %>
		<% else %>
		<%= link_to "Activate account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-primary" %>
		<% end %>
	<% end %>
<% end %>
<% if @user == current_user %>
	<%= edit_and_destroy_buttons(@user) %>
<% end %>
