<p id="notice"><%= notice %></p>

<p>
  	<h2><%= @beer.name %></h2>
</p>

<p>
  	<i>Style: <%= @beer.style %></i>
</p>

<p>
	<i>Brewery: <%= @beer.brewery_id %></i>
</p>

<p>
	<% if @beer.ratings.empty? %>
 		beer has not yet been rated!
	<% else %>
 		Number of ratings: <%= @beer.ratings.count %> 
 		Average: 
	<% end %>

</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
